h1 {
    margin-top: 0;
}

#open {
    color: red;
}

#working {
    color: rgb(255, 174, 0);
}

#done {
    color: green;
}

#delete {
    margin-left: 20px;
}

span {
    display: flex;
    align-items: center;
}

#delete {
    margin-left: 20px;
}

mat-form-field {
    width: 30%;
    margin-top: 10px;
}

#loading {
    width: 50%;
    margin: 0 auto;
}

#controls {
    text-align: right;
    position: fixed;
    top: 85%;
    right: 0;
    width: auto;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
}