div {
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
}

span {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

mat-form-field {
    width: 40%;
}

#error {
    color: red;
}

#loading {
    width: 50%;
    margin: 0 auto;
}

mat-panel-description {
    color: white;
}

.datepicker {
    color: black;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-size: 1em;
    padding: 0px;
}

mat-card {
    background-color: #b0bec5;
    color: black;
}