div {
    display: flex;
    align-items: center;
}

span {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

mat-form-field {
    width: 40%;
}

#error {
    color: red;
}