<ng-container *ngIf="(isLoading$ | async)">
    <div id="loading">
        <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
    </div>
</ng-container>

<ng-container *ngFor="let element of ((task$ | async) | keyvalue)">
    <ng-container *ngIf="!(element.key == 'id' && element.value == 0); else elseBlock">
        {{element.key}}: {{element.value}} <br>
    </ng-container>
</ng-container>

<button mat-raised-button color="warn" (click)="deleteTask()" [disabled]="isDone">Aufgabe löschen</button>

<ng-template #elseBlock>
    <span><i class="material-icons">error_outline</i>&nbsp;Die aufgerufene Aufgabe konnte nicht gefunden werden.</span>
</ng-template>