h1 {
    text-align: center;
    margin: 10px;
}

#routerWrapper {
    margin: 90px 10px 90px 10px;
}

app-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 4;
}

#heading {
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 3px;
    left: 41%;
    z-index: 5;
}