<h2>
    Erleben Sie, wie Sie die umfassenden Features unserer Webanwendung:
</h2>

<mat-card>
    <table>
        <tr>
            <td>
                <i class="material-icons">list_alt</i>
            </td>
            <td>
                <u>Ein Berg an Aufgaben?</u><br><br>
                Mit der Aufgabenlisten-Detailansicht behalten Sie den Überblick.
            </td>
        </tr>
    </table>
</mat-card>

<br>
<mat-divider></mat-divider>
<br>

<mat-card>
    <table>
        <tr>
            <td>
                <i class="material-icons-outlined">emoji_objects</i><br>
            </td>
            <td>
                <u>Sie benötigen nur einen kleinen Denkanstoß um sich an Aufgaben zu erinnern und benötigen nicht alle
                    Infos?</u><br><br>
                Die Aufgabenlisten-Ansicht zeigt Ihnen nur die Informationen die Sie auch wirklich benötigen, nämlich
                den Aufgabennamen und das Enddatum. Benötigen Sie doch einmal alle
                Informationen so können Sie jederzeit in die Detailansicht wechseln.
            </td>
        </tr>
    </table>
</mat-card>

<br>
<mat-divider></mat-divider>
<br>

<mat-card>
    <table>
        <tr>
            <td>
                <i class="material-icons">update</i>
            </td>
            <td>
                <u>Flexibel in allen Situationen</u><br><br>
                Egal was sich ändert mit den intuitiven Steuerungsmöglichkeiten dieser Webanwendung ändern Sie
                Aufgabenstellungen in kürzester Zeit ab und bleiben so immer up-to-date.
            </td>
        </tr>
    </table>
</mat-card>

<br>
<mat-divider></mat-divider>
<br>

<mat-card>
    <table>
        <tr>
            <td>
                <i class="material-icons-outlined">visibility</i>
            </td>
            <td>
                <u>Schmerzen Ihnen nach einem langen Arbeitstag die Augen von Ihrem grellen Bildschirm?</u><br><br>
                Ihre Gesundheit liegt uns am Herzen, daher ist der Dark Mode der nicht änderbare Standard.
            </td>
        </tr>
    </table>
</mat-card>

<br>
<mat-divider></mat-divider>
<br>

<a href="http://localhost/dhbw-dbek-todo-core/public/initDB.php" target="_blank"><button mat-raised-button>Beispieldaten
        einspielen</button></a>