<p>Willkommen bei der TODO WebApp</p>

Theme Color Test:<br>
<button mat-raised-button style="margin-right: 5px;">Basic</button>
<button mat-raised-button color="primary" style="margin-right: 5px;">Primary</button>
<button mat-raised-button color="accent" style="margin-right: 5px;">Accent</button>
<button mat-raised-button color="warn" style="margin-right: 5px;">Warn</button>
<button mat-raised-button disabled>Disabled</button>
<br>
<br>
<a href="http://localhost/dhbw-dbek-todo-core/public/initDB.php" target="_blank"><button mat-raised-button>Beispieldaten einspielen</button></a>