@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

body { 
    margin: 0; 
    margin-bottom: 70px;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.mat-form-field-flex {
    align-items: center !important;
}

.success_bar {
    background-color: rgb(145, 255, 72);
    border: 2px solid green;
}

.error_bar {
    background-color: rgb(255, 94, 94);
    border: 2px solid red;
    white-space: pre-wrap;
}